extend layout

block content
    form
        | Project name:
        input(type='text', name='projName')
        br
        | Collaborators:
        input(type='text', name='collaborators')
        br
        | Upload file:
        input(type='text', name='musicFile')

    
    a(href="/") Return to home 

