extends layout

block content   
	h1 File upload   
	br
	form(action="upload", method="post", enctype="multipart/form-data")
		p Name:
			input(type="text", name="title")
		p Description:
			input(type="text", name="description")
		p Select Type:
			select(name="type")
				option(value="vocals") Vocal
				option(value="guitar") Guitar
				option(value="percussion") Percussions
				option(value="wind") Wind Instruments
		input(type='hidden', name='projectId', value=req.query.projectId)
		br
		p Select File:
			input(type="file", name="audioFile")
		br
		input(type="submit", value="Upload")