extends layout

block content   
	h1= title   
	p Welcome to #{title}!   
	- if (!user)
		a(href="/auth/facebook") Login with Facebook
		This is public amateur <b> collaborative </b> web application. 
	- else
		p Hello, #{user.displayName}
