extends layout

block content   
	h1= title   
	p Welcome to #{title}!   
	p.
		This is public amateur <b> collaborative </b> web application. 
		You can select which projects you enjoy and your personal twist to the song.
