doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    #navigation
      h1= title
    #content
      block content

    #footer
      p Copyright 2013 Music App