doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300,100')
    link(type='text/css', href='/css/m_jplayer.css', rel='stylesheet')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js')
    script(type='text/javascript', src='/js/jquery.jplayer.min.js')
  body
    #navigation
      h1= title
      #nav_bar
        ul
         li
          a(href="/") Home
         li 
          a(href="project_list") Projects
         li 
          a(href="users") Users
         if (user)
          li 
           a(href="fileupload") Upload
          li
           a(href="new_project") New Project

    #content
      block content

    #footer
      p Copyright 2013 Music App