doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300,100')
  body
    #navigation
      h1= title
      #nav_bar
        ul
         li 
          a Projects
         li 
          a Users
         li 
          a Upload
    #content
      block content

    #footer
      p Copyright 2013 Music App