extends layout

block content
	h1 Your Projects
	

	table
		tr
			th= "Title"
			th= "Description"
		each item in list
			tr
				td
					name = "project?id=" + item._id
					a(href=name)= item.title
				td= item.description