extends layout

block content
	#project_list
		ul
			each item in list
				li.project_row 
					ul
						li
							name = "project?id=" + item._id
							a(href=name)= item.title
						li
							p #{item.description}
			