extends layout

block content
	#project_list
		ul
			li.project_row 
				ul
					li
						a(href="project") Project 1
					li
						p Description Here
					li 
						p icon here
			li.project_row
				ul
					li
						a(href="project2") Project 2
					li
						p Description Here
					li 
						p icon here
			li.project_row
				ul
					li
						a(href="project3") Project 3
					li
						p Description Here
					li 
						p icon here