!!! 5
html
  head
    //tracks = [{title: "Abbey Road", userId: 12345677890}, {title: "Revolver", userId: 09876544321}]
    //each object, i in tracks
    script(type='text/javascript')
      $(document).ready(function(){
        //param
      $("#slave_jplayerG").jPlayer({
      ready: function () {
      $(this).jPlayer("setMedia", {
        //param
      oga: "http://upload.wikimedia.org/wikipedia/commons/d/df/Guysinging.ogg"
      // oga: "./uploads/"+object.userId+"."+object.title"
      });
      },
      swfPath: "/js",
      supplied: "oga",
      volume: "0.8",
      //param
      cssSelectorAncestor: ".track_container",
      cssSelector: {
      //params
      loop:true,
      mute: "#jp-mute_sG",
      unmute: "#jp-unmute_sG",
      volumeBar: "#jp-volume-bar_sG",
      volumeBarValue: "#jp-volume-bar-value_sG",
      volumeMax: "#jp-volume-max_sG",
      gui: "#jp-gui_sG", // The interface used with autohide feature.
      noSolution: "#jp-no-solution_sG" // For error feedback when jPlayer cannot find a solution.
      },
      });
      });
  body
    #slave_jplayerG.jp-jplayer
    #jp_slave_container.jps-audio
      .jp-type-single
        #jp-gui_s.jp-gui.jps-interface
          ul.jps-controls
            li
              a#jp-mute_sG.jp-mute(href='javascript:;', tabindex='1', title='mute') mute
            li
              a#jp-unmute_sG.jp-unmute(href='javascript:;', tabindex='1', title='unmute') unmute
            li
              a#jp-volume-max_sG.jp-volume-max(href='javascript:;', tabindex='1', title='max volume') max volume
          #jp-volume-bar_sG.jp-volume-bar
            #jp-volume-bar-value_sG.jp-volume-bar-value
        .jp-no-solution
          span Update Required
          | To play the media you will need to either update your browser to a recent version or update your
          a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin
          | .
