
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
body {
  padding: 20px;
  font: 14px "Roboto", sans-serif;
  font-weight: 400;
  background: #222;
}
#content a {
  color: #00b7ff;
}
* {
  margin: 0;
  padding: 0;
}
#navigation {
  background-color: #f93;
  height: 100px;
  margin-bottom: 10px;
  font-size: 20px;
}
#navigation h1 {
  text-align: center;
  padding-top: 5px;
}
#nav_bar {
  height: 50px;
  position: absolute;
  margin-left: 20px;
}
#nav_bar ul {
  display: block;
  list-style: none;
  height: 50px;
}
#nav_bar ul li {
  width: 150px;
  height: 30px;
  float: left;
}
#nav_bar ul li a {
  color: #000;
}
#nav_bar ul li:hover {
  background: #ffa943;
}
#content {
  text-align: center;
  background: #eee;
  padding: 40px;
}
#footer {
  background-color: #f93;
  height: 4em;
  padding-top: 1px;
  text-align: center;
  margin-top: 10px;
}
/*************Project List********/
#project_list ul{
  list-style:none;
  display:block;
}
 
.project_row{
  height:150px;
}
 
.project_row ul li{
  float:left;
  width:250px;
}
 
 
/************* Projects **********/
#master_control {
  width: 500px;
  height: 110px;
  margin: 10px;
  border: 1px solid #222;
  margin-left: 250px;
}
#track_container {
  height: 500px;
  margin-top: 40px;
}
#track_type_list {
  height: 250px;
  width: inherit;
}
.track_type {
  width: 240px;
  list-style: none;
  height: 350px;
  float: left;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
  margin: 5px;
}
.track_list {
  list-style: none;
  height: 350px;
}
.track_list li {
  height: 150px;
}