body {
  padding: 20px;
  font: 14px "Roboto", sans-serif;
  font-weight:400;
}
a {
  color: #00b7ff;
}
#navigation {
  background-color: #FF9933;
  height: 100px;
  margin-bottom: 10px;
  font-size:20px;
}
#navigation h1{
	text-align: center;
	padding-top:28px;
}
#content {
	text-align:center;
}
#footer {
  background-color: #FF9933;
  height:4em;
  padding-top:1px;
  text-align:center;
  margin-top:10px;
}
